*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 15px; // Width of vertical scrollbar
        height: 12px; // Height of horizontal scrollbar
        
    }

    &::-webkit-scrollbar-track {
        background: #141414; // Track color
        border-radius: 10px; // Optional: rounded track
    }

    &::-webkit-scrollbar-thumb {
        background: #888; // Thumb color
        border-radius: 10px; // Optional: rounded thumb
        border: 4px solid #141414; // Optional: adds padding effect
        background: linear-gradient(0deg, rgba(255,64,102,1) 0%, rgba(255,241,106,1) 100%)
    }

    // Hover effect on thumb
    &::-webkit-scrollbar-thumb:hover {
        background: #555; // Darker thumb on hover
    }

}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: UniversLTStd,sans-serif;
    background-color: #141414;

}

header{
    position: fixed;
    z-index: 100;
    background-color: #141414db;
    backdrop-filter: blur(5px);
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    padding: 30px 80px;
    #logo{
        span{
            font-size: 2.5em;
            background: linear-gradient(90deg, rgba(255,64,102,1) 0%, rgba(255,241,106,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-content: center;
        gap: 20px;
        a{  
            display: flex;
            align-items: center;
            text-decoration: none;
            background: linear-gradient(90deg, rgba(255,64,102,1) 0%, rgb(255, 241, 106) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
            position: relative;
            font-size: 1.5em;
        }
        a::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 20%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, rgba(255,64,102,1) 0%, rgba(255,241,106,1) 100%);
            transform: scaleX(0);
            transition: transform 0.3s ease;
            transform-origin: bottom right;
        }
        
        a:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }   
    }

    @media(max-width: 600px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0 0;

        #logo{
            text-align: center;
            width: 100vw;
        }

        #navbar{
            width: 100vw;
            display: flex;
            justify-content: center;
        }

    }
}

main{
    margin-top: 40vh;

    #opening-text-phone{
        display: none;
    }

    #introduction{
        background-image: url(../../assets/Images/background.jpg);
        background-size: cover;
        overflow: hidden;
        
        position: relative;
        #opening-text{
            background-color: #252525b5;
            height: 100%;
            display: flex;
            align-content: center;
            #text-container{
                font-size: 3em;
                background: none;
                background: linear-gradient(135deg, rgba(255,64,102,1) 0%, rgba(255,241,106,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45%;
                padding: 0 8%;
            }
            clip-path: polygon(0% 0%, 45% 0%, 60% 100%, 0% 100%);
        }
        height: 35vh;

        .img-container{
            position: absolute;
            margin: 0;
            top: 50%;
            transform: translate(0, -50%);
            right: 5%;
            width: 20vw;
        }
    }
    #about-me{
        margin-top: 200px;
        padding: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;                        
        align-items: center;
        .heading-container{
            h1{
                text-align: center;
                font-size: 3em;
                background: linear-gradient(90deg, rgba(255,64,102,1) 0%, rgb(255, 241, 106) 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                width: 18vw;
            }
        }

        #info-container{
            #info-text-container{
                margin-top: 2rem;
                padding: 3rem 8rem;
                background-color: #4c4c4c24;
                border-radius: 20px;
                p{
                    background: linear-gradient(0deg, rgba(255,64,102,1) 0%, rgb(255, 241, 106) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 1.2rem;
                    font-weight: lighter;
                }                
            }
        }
    }

    

    #contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        padding-bottom: 1vh;

        .contact-box{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1vw;
            .img-container{
                width: 3rem;
                height: 3rem;
                overflow: hidden;
            }
            div{
                img{
                   width: 3em;
                   height: 3em; 
                }
            }
            p{
                background: linear-gradient(70deg, rgba(255,64,102,1) 0%, rgba(255,241,106,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: larger;
            }
        }    
    }

    @media(max-width: 600px){
        width: 100vw;
        margin-top: 60%;

        #opening-text-phone{
            display: flex;
            #text-container-phone{
                
                font-size: 3em;
                background: none;
                background: linear-gradient(135deg, rgba(255,64,102,1) 0%, rgba(255,241,106,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                text-align: center;
                padding: 0 8%;
                
            }
        }

        #introduction{
            margin: 0 10px;
            border-radius: 10px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-content: center;

            .img-container{
                /*display: none;*/
                position: relative;
                display: flex;
                justify-content: center;
                align-content: center;
                top: 0;
                transform: none;
                right: 0;
                margin: 20px 0;
                img{
                    width: 70vw;
                }
            }

            #opening-text{
                display: none;
                #text-container{
                    width: 100vw;
                    text-align: center;
                }
                clip-path: none;
            }
        }

        #about-me{
            .heading-container{
                h1{
                    text-align: center;
                    width: 100vw;
                }
            }

            #info-container{
                #info-text-container{
                    padding: 10px 20px;
                }
            }
        }

    }
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.featureImg {
    width: 100%;
    height: auto;
}

main.projectPage{
    display: grid;
    justify-content: center;
    align-content: start;
    height: 100vh;
    padding: 15vh 15vw;
    margin: 0;

    h1{
        text-align: center;
        font-size: 3rem;
        background: linear-gradient(-90deg, rgba(255,64,102,1) 0%, rgba(255,241,106,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #info-text-container{
        margin-top: 2rem;
        padding: 3rem 5rem;
        background-color: #4c4c4c24;
        border-radius: 20px;
        p{
            background: linear-gradient(0deg, rgba(255,64,102,1) 0%, rgb(255, 241, 106) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.2rem;
            font-weight: lighter;
        }                
    }

    #used-technologies{
        display: flex;
        gap: 10px;
        padding: 40px 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding: 10vh 0;
        gap: 10px;

        a{
            cursor: pointer;
            p{
                background: linear-gradient(90deg, rgba(255,64,102,1) 0%, rgb(255, 241, 106) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            background: none;
            border-radius: 20px;
            position: relative;
            padding: 1vh 2.5em;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 50px; 
                padding: 2px; 
                background:linear-gradient(90deg, rgba(255,64,102,1) 0%, rgb(255, 241, 106) 100%); 
                -webkit-mask: 
                   linear-gradient(#fff 0 0) content-box, 
                   linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude; 
            }
            &:hover{
                &::before {
                    content: none;
                }

                background: linear-gradient(90deg, rgba(255,64,102,1) 0%, rgb(255, 241, 106) 100%);
                p{
                    color: #252525;
                    background: none;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: #252525;
                }
            }
        }
    }

    @media(max-width: 600px){
        h1{
            width: 100vw;
            text-align: center;
            margin-top: 250px;
            padding: 0 10px;
        }

        #info-text-container{
            margin: 0px 20px;
            padding: 50px 20px;
        }

        .links{
            padding: 20px;
        }
    }
}

@media(max-width: 600px){

    body{
        display: grid;
        justify-content: center;
        overflow-x: hidden;
    }

}
